@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center align-items-center">
    <div class="col-md-8 text-center">
        <h1 class="display-4 fw-bold">Chào mừng đến với QLThuQuanWeb</h1>
    </div>
</div>
